<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>wiki.qaq.inspectord</string>
	<key>ProgramArguments</key>
	<array>
		<string>@PREFIX@/usr/libexec/inspectord</string>
	</array>
	<key>UserName</key>
	<string>root</string>
	<key>ProcessType</key>
	<string>Adaptive</string>
	<key>Umask</key>
	<integer>63</integer>
	<key>MachServices</key>
	<dict>
		<key>wiki.qaq.inspector.service</key>
		<true/>
	</dict>
	<key>EnvironmentVariables</key>
	<dict>
		<key>DISABLE_TWEAKS</key>
		<string>1</string>
	</dict>
</dict>
</plist>
